<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PhishDetect - Anti-Phishing Service</title>
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/fontawesome-all.min.css">
</head>
<body class="bg-grey-lighter">
    <div id="container" class="container mx-auto justify-center items-center bg-white p-16 mt-16 mb-16 rounded-lg">
        <div class="text-center mb-6">
            <img src="/static/images/icon.png" class="h-16 mb-4" />
            <h1 class="font-normal"><b>PhishDetect</b></h1>
        </div>

        <div class="text-center">This is a PhishDetect Node. For more information on what this is, visit the <a class="text-blue hover:no-underline hover:text-blue-darker">official website</a> of the PhishDetect project.</div>
    </div>
</body>
</html>
