<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PhishDetect - Anti-Phishing Service</title>
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/fontawesome-all.min.css">
</head>
<body class="bg-grey-lighter pt-16 pb-16">
    <div id="container" class="container mx-auto justify-center items-center bg-white p-16 rounded-lg">
        <div class="text-center mb-6">
            <img src="/static/images/icon.png" class="h-16 mb-4" />
            <h1 class="font-normal"><b>PhishDetect</b></h1>
        </div>

        <div class="text-center">This is a PhishDetect Node. For more information on what this is, visit the <a class="text-blue hover:no-underline hover:text-blue-darker" href="https://phishdetect.io">official website</a> of the PhishDetect project.</div>
    </div>
    <div class="mt-4 text-grey-dark text-sm text-center">This service runs <a class="text-grey-darker hover:no-underline hover:text-grey-darkest" href="https://phishdetect.io">PhishDetect</a>, a tool released under AGPL v3.0 and copyrighted by &copy;2018 Claudio Guarnieri.</div>
</body>
</html>
