<div class="text-center mb-6">
    <i class="fas fa-exclamation-triangle" aria-hidden="true" style="font-size: 60px;"></i>
    <h1 class="font-normal mt-4"><b>PhishDetect</b> Warning</h1>
</div>

{% if errors %}
<div class="border-l-8 border-red-lighter mb-8 bg-red-lightest text-red-darker p-6 rounded-lg leading-normal">
    <b>Sorry!</b> We were <b>not able</b> to analyze the provided URL <span class="font-mono">{{url}}</span>
    <p>The following errors occurred:</p>
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
    {% if oauth %}
        <!--TODO:
            <div class="alert alert-danger">While this is a legitimate Google site, <b>this link would grant an external application access to your account</b>! While this might have legitimate uses, it can also be a popular attack technique called <b>OAuth Phishing</b>. You can find more information about it <a target="_blank" href="https://duo.com/blog/gmail-oauth-phishing-goes-viral">here</a>. Unless you are absolutely certain about its legitimacy, <b>we recommend to not proceed</b>.</div>-->
    {% else %}
        {% if whitelisted %}

        {% else %}
            {% if score >= 30 and score <= 50 %}
            <div class="border-l-8 border-yellow-lighter mb-8 bg-yellow-lightest text-yellow-darker p-6 rounded-lg leading-normal">
                <div style="word-break: break-all;">You tried to visit: <span class="font-mono bg-yellow-lighter text-yellow-darkest">{{url}}</span></div>
                <div>This website has suspicious properties. This is <b>possibly a phishing site{% if brand %} impersonating <i class="fab fa-{{brand}}"></i> {{brand|capfirst}}{% endif %}</b>. Please proceed with caution.</div>
            {% elif score > 50 %}
            <div class="border-l-8 border-red-lighter mb-8 bg-red-lightest text-red-darker p-6 rounded-lg leading-normal">
                <div style="word-break: break-all;">You tried to visit <span class="font-mono bg-red-lighter text-red-darkest">{{url}}</span></div>
                <div>This website has very suspicious properties. This is <b>highly likely a phishing site{% if brand %} impersonating <i class="fab fa-{{brand}}"></i> {{brand|capfirst}}{% endif %}</b>. We recommend to not proceed to this page.</div>
            {% endif %}

                <h4 class="mt-4">Warnings</h4>

                <div id="warnings" class="collapse" role="tabpanel">
                    <ul>
                        {% for warning in warnings %}
                        <li>{{warning.Description}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if urlFinal and url != urlFinal %}
    <div class="mb-8">The original link <span class="font-mono bg-grey-lighter" style="word-break: break-all;">{{url}}</span> redirected to the final URL <span class="font-mono bg-grey-lighter" style="word-break: break-all;">{{urlFinal}}</span></div>
    {% endif %}

    <div class="mb-4">Following is a screenshot preview of the website.{% if brand and not whitelisted %} Bear in mind, <b>this website is not a legitimate {{brand|capfirst}} site.</b>{% endif %}</div>
    <div class="text-center"><img class="rounded-lg shadow-lg w-full border-t-2 border-grey-lighter" src="{{screenshot}}" width="100%" alt="Screenshot not available" /></div>
{% endif %}

<div class="text-center mt-16"><a href="{{url}}" class="border-b-8 rounded text-xl cursor-pointer px-6 py-4 no-underline bg-red border-red-dark text-white hover:bg-red-light hover:border-red" role="button" onclick="return confirm('Are you sure?');">Continue anyway at my own risk!</a></div>
