<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PhishDetect - Anti-Phishing Service</title>
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/fontawesome-all.min.css">
</head>
<body class="bg-grey-lighter pt-16 pb-16">
    <div id="container" class="container mx-auto justify-center items-center bg-white p-16 rounded-lg">
        <div class="text-center mb-6">
            <img src="/static/images/icon.png" class="h-16 mb-4" />
            <h1 class="font-normal"><b>PhishDetect</b> Check</h1>
        </div>
        <form id="submitForm">
            <div id="errorMsg"></div>
            <div>
                <label for="urlInput" class="font-bold">
                    URL to check
                </label>
                <input type="text" id="urlInput" name="url" class="shadow appearance-none border rounded w-full py-4 px-4 text-grey-darkest leading-normal focus:outline-none focus:shadow-outline mt-4 mb-8" />
            </div>
            <div>
                <input type="checkbox" value="" id="torInput" name="tor">
                <label for="torInput">
                    Connect through the Tor network
                    <div class="mt-2 text-grey-dark">Some phishing kits might be blocking connections from the Tor network.</div>
                </label>
            </div>
            <div class="text-right"><button type="submit" class="bg-blue border-blue-dark text-white hover:bg-blue-light hover:border-blue border-b-8 rounded text-xl cursor-pointer px-6 py-4 no-underline">Check</button></div>
        </form>
    </div>
    <div class="mt-4 text-grey-dark text-sm text-center">This service runs <a class="text-grey-darker hover:no-underline hover:text-grey-darkest" href="https://phishdetect.io">PhishDetect</a>, a tool released under AGPL v3.0 and copyrighted by &copy;2018 Claudio Guarnieri.</div>
    <script src="/static/js/jquery.min.js"></script>
    <script>
    $("#submitForm").submit(function(event) {
        event.preventDefault();
        var url = document.forms["submitForm"]["url"].value;
        var tor = document.forms["submitForm"]["tor"];

        if (url == "") {
            $("#errorMsg").hide();
            $("#errorMsg")
                .addClass("text-danger")
                .html("Please enter a valid URL")
            $("#errorMsg").fadeIn();
        } else {
            var checkUrl = "/check/" + btoa(url);
            var args = [];
            if (tor.checked) {
                args.push("tor=1");
            }
            if (args.length > 0) {
                checkUrl = checkUrl + "?" + args.join("&");
            }

            window.location.href = checkUrl;
        }
    });
    </script>
</body>
</html>
